* {
    padding: 0;
    margin: 0;
}

#main {
    max-width: 1920px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    text-transform: uppercase;
}

#header .logo {
    width: 20%;
    color: #3cb878;
    margin-left: 70px;
    font-size: 20px;
    line-height: 100px;
}

#header ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /* margin-left: 50px; */
    font-size: 20px;
    line-height: 100px;
    align-items: center;
}

#header ul li {
    /* margin-left: 50px; */
    line-height: 100px;
}

#header ul li :first-child(){
    color: #3cb878;
}

#header ul li a {
    text-decoration: none;

}

#header ul li a:hover {
    color: #3cb878;
}

#header .icon {
    width: 20%;
    
    display: flex;
    justify-content: flex-end;
}

#header .icon i {
    margin: 0px 10px;
    line-height: 100px;
}

#banner {
    width: 100%;
    height: 804px;
    background-image: url(img/banner.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .text {
    width: 30%;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding: 335px 243px;
}

#banner .text h3 {
    margin-bottom: 30px;
}

#banner .text-d {
    color: #3cb878;
}

#best-seller {
    margin-top: 100px;
    height: 615px;
    /* background-color: blueviolet; */
    display: flex;

}

#best-seller .item {
    width: calc((100% / 5) - 10px);
    margin: 10px;
    position: relative;
}

#best-seller .bsl-text {
    
}

#best-seller .logo-buy {
    position: absolute;
    top: 0;
    right: 29px;
    background-color: blue;
}